/* ===== NAVBAR ===== */
.navbar {
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  font-family: "Georgia", serif;
  letter-spacing: 1px;
}

.search-container input {
  width: 300px;
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.icons i {
  font-size: 22px;
  margin-left: 25px;
  cursor: pointer;
}

/* ===== SLIDER ===== */
.slider {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.slider-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

/* ===== SECCIONES ===== */
.sections {
  padding: 20px 40px;
  text-align: center;
}

.title-small {
  font-size: 18px;
  font-weight: bold;
}

.sections-buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
}

.sections-buttons button {
  background: #284867;
  color: white;
  border: none;
  padding: 14px 30px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.sections-buttons button:hover {
  background: #1f3a54;
}

/* ===== PRODUCTOS ===== */
.products {
  padding: 20px 40px;
  text-align: center;
}

.products-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product-skeleton {
  width: 100%;
  height: 220px;
  background: #d9d9d9;
  border-radius: 8px;
}
