
.navbar {
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  font-family: "Georgia", serif;
}

.search-container input {
  width: 300px;
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.icons i {
  font-size: 22px;
  margin-left: 25px;
  cursor: pointer;
}

/* ===== CONTENEDOR PRINCIPAL ===== */
.cart-container {
  display: flex;
  padding: 30px 40px;
  gap: 25px;
}

/* ===== IZQUIERDA ===== */
.left-section {
  width: 70%;
}

.select-bar {
  border: 1px solid #ccc;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-btn {
  padding: 10px 18px;
  background: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.choose-btn {
  background: #223a57;
  color: white;
  border: none;
  padding: 10px 28px;
  border-radius: 5px;
  margin: 15px 0;
  cursor: pointer;
}

.items-list {
  margin-top: 10px;
  border: 1px solid #ccc;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.item-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 4px;
}

.item-info {
  margin-left: 15px;
  width: 80%;
}

.item-info h4 {
  margin: 0;
  font-weight: bold;
}

.tag {
  background: #d9d9d9;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-block;
  margin: 4px 0;
}

.price {
  font-weight: bold;
  margin-top: 5px;
}

.delete-icon {
  font-size: 20px;
  cursor: pointer;
}

/* ===== DERECHA ===== */
.right-section {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
}

.summary-images img {
  width: 65px;
  margin-right: 10px;
}

.summary-price span {
  color: #0d7a00;
  font-size: 20px;
  font-weight: bold;
}

.pay-btn {
  background: #1f3657;
  color: white;
  border: none;
  width: 100%;
  padding: 12px 0;
  margin-top: 15px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.cards img {
  width: 70px;
  margin-right: 12px;
}

.accept {
  margin-top: 15px;
  font-weight: bold;
}
